@inherits System.Web.Mvc.WebViewPage
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>This is only Web Api Interface.</p>
    <p>TODO:</p>
    <ul>
        <li>Add dependency injection container</li>
        <li>Add model validations and define which fields are required</li>
        <li>Add separate projects in the solution as layers</li>
        <li>Add other tests</li>
        <li>Add logger</li>
    </ul>
    <p>If you want to test it <button onclick="window.location.href='/swagger/ui/index#/Transactions'">Click here!</button></p>
</body>
</html>
